html {
    scroll-behavior: smooth;
    scrollbar-color: rgb(59, 58, 58) gray; /* Firefox */
    scrollbar-width: thin; /* Firefox */

  }

  
  body {
    font-family: 'Nasalization', sans-serif;
  }
  
  
  /* Para desarrollo */
  @font-face {
    font-family: 'Nasalization';
    src: url('/fonts/Nasalization.otf') format('truetype');
  }

 /*  Para produccion */
/*  @font-face {
  font-family: 'Nasalization';
  src: url('/new-portfolio/assets/fonts/Nasalization.otf') format('truetype');
}
 */